<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>items</key>
	<array>
		<dict>
			<key>assets</key>
			<array>
				<dict>
					<key>kind</key>
					<string>software-package</string>
					<key>url</key>
					<string>http://47.92.127.86:8180/zdst_ifcp_web/download/tuyou_b2last.ipa</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>display-image</string>
					<key>url</key>
					<string>http://47.92.127.86:8180/zdst_ifcp_web/download/image.57X57.jpg</string>
				</dict>
				<dict>
					<key>kind</key>
					<string>full-size-image</string>
					<key>url</key>
					<string>http://47.92.127.86:8180/zdst_ifcp_web/download/image.512X512.jpg</string>
				</dict>
			</array>
			<key>metadata</key>
			<dict>
				<key>bundle-identifier</key>
				<string>com.zds-t.TuYouUnit</string>
				<key>bundle-version</key>
				<string>V001R001C001B001D001</string>
				<key>kind</key>
				<string>software</string>
				<key>title</key>
				<string>土右企业消防</string>
			</dict>
		</dict>
	</array>
</dict>
</plist>
